body {
    margin: 50px !important;
}

input.holo[type='text'] {
    /* You can set width to whatever you like */
    width: 100%;
    font-family: "Roboto", "Droid Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 8px 8px 6px 8px;
    position: relative;
    display: block;
    outline: none;
    border: none;
    background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
    -ms-background-size: 2px 6px, 2px 2px, 2px 6px;
    background-size: 2px 6px, 2px 2px, 2px 6px;
}

input.holo[type='text']:hover, input.holo[type='text']:focus {
    background: bottom left linear-gradient(#0099cc, #0099cc) no-repeat, bottom center linear-gradient(#0099cc, #0099cc) repeat-x, bottom right linear-gradient(#0099cc, #0099cc) no-repeat;
    -ms-background-size: 2px 6px, 2px 2px, 2px 6px;
    background-size: 2px 6px, 2px 2px, 2px 6px;
} 

img.small {
    width: 80px;
}

.phone-thumbs {
    
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

img.phone {
  margin-right: auto;
  margin-bottom: auto;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
  }