<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <fieldset>
                <legend>Search</legend>
                <div class="row">
                    <div class="col-md-12">
                        <input class="holo" type="text" ng-model="query" placeholder="ingrese búsqueda..." />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1><!--Lista de teléfonos--></h1>

                    <div class="has-error" ng-if="phoneList.length == 0">
                        <h4>No hay elementos</h4>
                    </div>
                </div>

                <div ng-if="phoneList.length != 0">

                    <div ng-if="query == null">
                        <span class="text-info">Mostrando todos los resultados</span>
                    </div>

                    <div ng-if="query != null">
                        <span>Filtro: {{query != null && query != '' ? query : '---' }} </span>
                    </div>

                    <div style="position: relative; height: 80vh; width: 100%;">
                        <div class="scrollable">
                            <div class="scrollable-content">
                                
                                <ul class="phones">
                                    <li ng-repeat="phone in phoneList | filter:{name:query} | orderBy:orderProp"
                                        class="thumbnail phone-listing">
                                        <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{getUrl(phone.imageUrl)}}"></a>
                                        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                                        <p>{{phone.snippet}}</p>
                                    </li>
                                </ul>

                                <!--<table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="" ng-click="predicate = 'name'; reverse=!reverse">
                                                        Nombre
                                                        <span ng-show="predicate == 'name'">
                                                            <span ng-show="!reverse">
                                                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                                                            </span>
                                                            <span ng-show="reverse">
                                                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="" ng-click="predicate = 'age'; reverse=!reverse">
                                                        Age
                                                        <span ng-show="predicate == 'age'">
                                                            <span ng-show="!reverse">
                                                                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                                                            </span>
                                                            <span ng-show="reverse">
                                                                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </th>
                                                <th>Imágen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in phoneList | filter: {name: query} | orderBy: predicate:reverse" class="phone-listing">
                                                <td><a href="#/phones/{{item.id}}">{{item.name}}</a></td>
                                                <td>{{item.age}}</td>
                                                <td><a href="#/phones/{{item.id}}"><img class="small" ng-src="{{getUrl(item.imageUrl)}}" /></a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                
                                                    <p>Total number of phones: {{ phoneList.length}}</p>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>